@mixin triangle($borderColor, $borderWidth, $direction) {
	margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  font-size: 0;
	border-style: solid;
	@if $direction == "top" {
		border-width: 0 $borderWidth $borderWidth $borderWidth;
    border-color: transparent transparent $borderColor transparent;
	} @else if $direction == "right" {
		border-width: $borderWidth 0 $borderWidth $borderWidth;
    border-color: transparent transparent transparent $borderColor;
	} @else if $direction == "bottom" {
		border-width: $borderWidth $borderWidth 0 $borderWidth;
    border-color: $borderColor transparent transparent transparent;
	} @else {	/* left */
		border-width: $borderWidth $borderWidth $borderWidth 0;
    border-color: transparent $borderColor transparent transparent;
	}
}